.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-color: #2196f3; /* Igual que login */
  color: white;
}


.toolbar {
  display: flex;
  justify-content: flex-end; /* Esto mueve el contenido al final (derecha) */
  padding-right: 16px; /* Opcional: un poco de espacio a la derecha */
}

.nombre-usuario {
  font-weight: bold; /* Opcional para resaltar */
}

.nombre-usuario {
  font-size: 0.9rem; /* Ajusta este valor a lo que necesites */
  margin-left: auto;
  padding-right: 16px; /* opcional */
}
